/* Application-wide Styles */
h1 {
    color: rgb(207, 62, 91);
    outline: 2px, white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
 
html {
    background-color: rgb(173, 160, 160);
}

body{
    font-family: 'Open Sans', sans-serif;
}
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
