
<nav>
    <button class="hamburger" id ="hamburger">
        <i class="fa fa-bars"></i>
    </button>
    <ul class="nav-ul" id="nav-ul">
        <li><a href="#">Home</a></li>
        <li><a href="#" routerLink="products">Products</a></li>
        <li><a href="#" routerLink="about">About</a></li>
        <li><a href="#" routerLink="contact">Contact</a></li>
    </ul>
    <ul class="login" id="login">
        <li><a href="#" routerLink="login">Login</a></li>
        <li><a href="#" routerLink="signup">Sign Up</a></li>
    </ul>
</nav>



